h2 {
  display: inline;
}

#logo {
  height: 50px !important;
  width: 50px !important;
}

#upload-profile {
  cursor: pointer;
}

#upload-profile-txt {
  display: inline;
  padding: 10px 0 0 10px;
  color: #3897f0;
}

#upload-form {
  display: none;
}

#follow, #following {
  font-size: 16px;
  line-height: 25px;
  padding: 0 11px 0 11px;
  margin-left: 10px;
  background: 0 0;
  border-color: #3897f0;
  color: #3897f0;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
}

.head-profile {
  margin-left: 30%;
  margin-bottom: 25px;
  height: 200px;
}

.left-profile {
  float:left;
  overflow:hidden;
}

.right-profile {
  margin: 10px;
  float:left;
  overflow:hidden;
}

.profile-stats-list {
  list-style: none;
  overflow: hidden;
  margin: 25px;
}

.profile-stats-list > li {
  display: inline;
  margin-right: 25px;
}

.glyphicon-heart {
  color: red;
}

.glyphicon-heart-empty {
  color: grey;
  border: 1px;
}

.comment-form {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.modal-comments {
  width: 270px;
  height: 168px;
  overflow: auto;
}

.modal-right {
  float: right;
  width: 270px;
  height: 500px;
}

#heart {
  font-size: 50px;
  padding-bottom: 25px;
}

#comment_message {
  border: none;
  resize: none;
  outline: none;
}

.post_caption {
  display: none;
}

.img-circle {
  height: 150px !important;
  width: 150px !important;
}

.user-profile {
  text-align: center;
}

.user-profile > form > input[type=file] {
  margin: 0 auto;
}

#groups {
  margin-bottom: 20px;
  height: 293px;
}
